.button {
  display: inline-block;
  background: $gradient;
  border-radius: 40px;
  padding: 20px 30px;
  box-shadow: $button-shadow;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  transition: opacity 1s, box-shadow 1s;
  &:hover {
    opacity: 0.8;
    box-shadow: 0 0 15px 5px #adadad;
    transition: 1s;
  }
}
