.loader {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 3rem;
  animation: visibility 3s forwards;
  p {
    font-family: $secondary-font;
    color: $primary-color;
  }
}

#word {
  color: $secondary-color;
  &::after {
    content: "";
    animation: word 2s forwards;
  }
}
