#bloc-page {
  max-width: 1200px;
  padding: 0 1rem 0 1rem;
  margin: auto;
  @include tablet-only {
    padding: 0;
  }
}

.bloc-page-index,
.footer-index {
  opacity: 0;
  animation: index 3s ease-in-out forwards;
  animation-delay: 2s;
}

body {
  margin: 0;
  font-family: $primary-font, sans-serif;
  position: relative;
  h3 {
    margin: 0;
  }

  p {
    font-weight: 100;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  section {
    padding-top: 1rem;
  }
}
