footer {
  width: 100%;
  background: $footer-color;
  .footer {
    * {
      color: #fff;
    }
    margin: auto;
    padding: 2rem 1rem 1.5rem 1rem;
    max-width: 1200px;
    @include tablet-only {
      padding-left: 2vw;
    }
    @include mobile-only {
      padding-left: 6vw;
    }
    i {
      padding-right: 0.5rem;
      @include mobile-only {
        width: 1rem;
      }
    }
    .logo {
      font-family: $secondary-font;
      font-size: 1.5rem;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      display: flex;
      padding-top: 1rem;
      @include mobile-only {
        flex-direction: column;
      }
      li {
        padding-right: 8rem;
        @include tablet-only {
          padding-right: 3rem;
        }
        @include mobile-only {
          margin-bottom: 2vw;
        }
      }
    }
  }
}
