header {
  text-align: center;
  padding-top: 1.5rem;
  position: relative;
  .logo {
    font-family: $secondary-font;
    font-size: 2.5rem;
    @include mobile-only {
      font-size: 2rem;
    }
  }

  .fa-arrow-left {
    position: absolute;
    margin-top: 0.6rem;
    left: 20px;
    font-size: 2rem;
    @include mobile-only {
      font-size: 1.5rem;
    }
  }
}
